.backgroundA {
	-fx-background-color: #cccccc;
}

.backgroundB {
	-fx-background-color: #cccccc;
}

.attributeValue {
	-fx-font-size: 20pt;
	-fx-text-fill: #000000;
	-fx-font-family: "Verdana";
}

.description {
	-fx-font-size: 20pt;
	-fx-text-fill: #000000;
	-fx-font-weight: bold;
	-fx-font-family: "Verdana";
	
}

.Button {

}

.header {
	-fx-text-fill: #000000;
	-fx-font-size: 30pt;
	-fx-font-family: "Verdana";
}