.backgroundA {
	-fx-background-color: #cccccc;
}

.backgroundB {
	-fx-background-color: #cccccc;
}

.attributeValue {
	-fx-font-size: 20pt;
	-fx-text-fill: #000000;
	-fx-font-family: "Trebuchet MS", Helvetica, sans-serif;
}


.subheader {
	-fx-font-family: "Verdana";
	-fx-text-fill: #CCFF00;
	-fx-font-size: 28pt;
}

.description {
	-fx-font-size: 20pt;
	-fx-text-fill: #000000;
	-fx-font-weight: bold;
<<<<<<< HEAD
	-fx-font-family: "Trebuchet MS", Helvetica, sans-serif;
	
=======
	-fx-font-family: "Verdana";
>>>>>>> origin/master
}

.Button {

}

.header {
	-fx-text-fill: #000000;
	-fx-font-size: 30pt;
<<<<<<< HEAD
	-fx-font-family: "Trebuchet MS", Helvetica, sans-serif;
}
=======
	-fx-font-family: "Verdana";
}
>>>>>>> origin/master
