.backgroundA {
	-fx-background-color: #FFFFFF;
}

.backgroundB {
	-fx-background-color: #FFFFFF;
}

.attributeValue {
	-fx-font-size: 15pt;
	-fx-text-fill: #000000;
	-fx-font-family: "Arial", Helvetica, sans-serif;
}

.menuItems {
	-fx-font-size: 10pt;
	-fx-text-fill: #000000;
	-fx-font-family: "Courier Std";
}

.subheader {
	-fx-font-family: "Trebuchet MS";
	-fx-text-fill: #000000;
	-fx-font-size: 14pt;
}

.weeknr {
	-fx-font-family: "Arial";
	-fx-text-fill: #000000;
	-fx-font-size: 28pt;
}

.description {
	-fx-font-size: 15pt;
	-fx-text-fill: #000000;
	-fx-font-weight: bold;
	-fx-font-family: "Arial", Helvetica, sans-serif;
}

.messageText {
	-fx-font-size: 10pt;
	-fx-text-fill: #000000;
	-fx-font-family: "Trebuchet MS";
}

.messageHeader {
	-fx-font-size: 12pt;
	-fx-text-fill: #FFFFFF;
	-fx-font-family: "Trebuchet MS";
}

.Button {

}

.arrow {
	-fx-font-size: 10pt;
}

.header {
	-fx-text-fill: #000000;
	-fx-font-size: 30pt;
	-fx-font-family: "Arial", Helvetica, sans-serif;
}
